<mat-drawer-container class="sidenav-container">
    <mat-drawer #eventdrawer class="sidenav" position="end" mode="side" opened>
        <mat-toolbar color="accent">
            <span>Events</span>
        </mat-toolbar>
        <mat-divider></mat-divider>

        <mat-form-field color="accent">
            <input matInput placeholder="Search">
        </mat-form-field>

        <mat-divider></mat-divider>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Dreadlands
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Abandoned Hut
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Hidden Shrine
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Forbidden Forest
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Deadman's Cave
                </mat-expansion-panel-header>
            </mat-expansion-panel>

        </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>

        <mat-toolbar color="accent">
            <span>Dreadlands</span>
            <span style="flex: 1 1 auto;"></span>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="eventdrawer.toggle()">
                <!-- *ngIf="isHandset$ | async" -->
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
        </mat-toolbar>
        <app-event-editing></app-event-editing>

    </mat-drawer-content>
</mat-drawer-container>
