<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-divider></mat-divider>
        <mat-nav-list>

            <div>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let map of DnDMaps">
                        <mat-expansion-panel-header>
                            <mat-panel-title (click)="reload()">
                                <a [queryParams]="{id:map.Serial, name:map.Name}" mat-list-item
                                    routerLink='/event-editing'>{{map.Name}}</a>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-panel-description>
                            {{map.Description}}
                        </mat-panel-description>
                        <mat-action-row class="full-width">
                            <button mat-raised-button color="warn" class="expand-button"
                                (click)="openEditDialog(false, map)">Edit
                            </button>
                            <button mat-raised-button color="accent" class="expand-button" (click)="deleteMap(map.Serial)">Delete</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-divider></mat-divider>
            </div>
            <p></p>
            <div class="center-container">
                <button (click)=openEditDialog(true) class="add-map-button" color="primary" mat-raised-button>Add Map
                </button>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <!-- *ngIf="isHandset$ | async" -->
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <!-- <span>DnD-Evolved</span> -->
            <img src="../../assets/icons/logo-1-0.svg" alt="Logo" height="40" />
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
