<h1 mat-dialog-title>Edit Event</h1>
<div mat-dialog-content (keyup.enter)="saveData()" tabindex="0">
    <form [formGroup]="eventForm">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" [(ngModel)]="data.name" />
            <mat-error *ngIf="eventForm.get('name')?.hasError('required')">Name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>LocationX</mat-label>
            <input matInput formControlName="locationX" [(ngModel)]="data.locationX" />
            <mat-error *ngIf="eventForm.get('locationX')?.hasError('required')">X-location is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>LocationY</mat-label>
            <input matInput formControlName="locationY" [(ngModel)]="data.locationY" />
            <mat-error *ngIf="eventForm.get('locationY')?.hasError('required')">Y-location is is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" [(ngModel)]="data.description" />
            <mat-error *ngIf="eventForm.get('description')?.hasError('required')">Description is required</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="center-container">
    <button mat-raised-button class="interactionButtons" color="accent" (click)="onNoClick()">
        Cancel
    </button>
    <button mat-raised-button class="interactionButtons" color="primary" (click)="saveData()">
        Save
    </button>
</div>
