<h1 mat-dialog-title>Edit Event</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>LocationX</mat-label>
    <input [(ngModel)]="data.locationX" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>LocationY</mat-label>
    <input [(ngModel)]="data.locationY" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
</div>
<div mat-dialog-actions class="center-container">
  <button mat-raised-button class="interactionButtons" color="accent" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button class="interactionButtons" color="primary" (click)="saveData()">Save</button>
</div>
