<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="sidenav" mode="side" position=end opened>
        <mat-card>
            <mat-card-header>
                Events
            </mat-card-header>
        </mat-card>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon matListItemIcon>keyboard_arrow_right</mat-icon>
                <span matListItemTitle>Dreadlands</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon matListItemIcon>keyboard_arrow_right</mat-icon>
                <span matListItemTitle>Abandoned Hut</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon matListItemIcon>keyboard_arrow_right</mat-icon>
                <span matListItemTitle>Hidden Shrine</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon matListItemIcon>keyboard_arrow_right</mat-icon>
                <span matListItemTitle>Forbidden Forest</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon matListItemIcon>keyboard_arrow_right</mat-icon>
                <span matListItemTitle>Deadman's Cave</span>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-drawer>
    <mat-divider [vertical]=true></mat-divider>
    <mat-drawer-content>
        <div>
            <button type="button" aria-label="toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <div class="map-container">
            <img src="../../assets/fantasy-map.jpg" alt="" width="800" />
        </div>
    </mat-drawer-content>
</mat-drawer-container>
