<mat-drawer-container class="sidenav-container">
  <mat-drawer #eventdrawer class="sidenav" position="end" mode="side" >
    <mat-toolbar color="accent">
      <span>Events</span>
    </mat-toolbar>
    <mat-accordion>
      <ng-container *ngFor="let Event of events">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{Event.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            {{Event.description}}
          </mat-panel-description>
          <mat-panel-description>
            {{Event.description}}
          </mat-panel-description>
          <mat-action-row class="full-width">
            <button mat-raised-button color="warn" class="expand-button" (click)="openEditDialog(Event.serial)">Edit</button>
            <button mat-raised-button color="accent" class="expand-button">Delete</button>
          </mat-action-row>
        </mat-expansion-panel>
      </ng-container>
      <div class="center-button">
        <button mat-raised-button color="primary" (click)="openAddDialog()">Add</button>
      </div>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="accent">
      <span>Dreadlands</span>
      <span style="flex: 1 1 auto;"></span>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="eventdrawer.toggle()">
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="grid-container">
      <mat-grid-list cols="1">
        <mat-grid-tile>
          <mat-card class="event-card">
            <mat-card-header>Map</mat-card-header>
            <mat-card-content>
              <app-interactive-map [parentMapSerial]="mapSerial"></app-interactive-map>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
