<mat-drawer-container class="sidenav-container">
  <mat-drawer #eventdrawer class="sidenav" position="end" mode="side" (opened)="getEvents()">
    <mat-toolbar color="accent">
      <span>Events</span>
    </mat-toolbar>
    <mat-accordion>
      <ng-container *ngFor="let str of events">
            <app-event-entry [data]="str"></app-event-entry>
      </ng-container>
      <app-event-entry></app-event-entry>
      <div class="center-button">
        <button mat-raised-button color="primary" (click)="openAddDialog()">Add</button>
      </div>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="accent">
      <span>Dreadlands</span>
      <span style="flex: 1 1 auto;"></span>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="eventdrawer.toggle()">
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="grid-container">
      <mat-grid-list cols="2">
        <mat-grid-tile>
          <mat-card class="event-card-input">
            <mat-form-field class="event-form-field">
              <mat-label>Title</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field class="event-form-field">
              <mat-label>Map-Datei</mat-label>
              <mat-select>
                <mat-option value="one">First Map</mat-option>
                <mat-option value="two">Second Map</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="event-form-field">
              <mat-label>Description</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary">Save</button>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="event-card">
            <mat-card-header>Map</mat-card-header>
            <mat-card-content>
              <app-interactive-map></app-interactive-map>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
