.grid-container {
  margin: 10px;
}
.event-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  color: white;
}

.event-card-input {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.event-form-field {
  padding: 1em;
}

.event-card img {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 90%;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.full-width {
  width: 100%;
}

.mat-expansion-panel-header {
  display: flex;
  justify-content: space-between;
}

.mat-action-row {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.sidenav,
.expand-button {
  box-sizing: border-box;
}

.sidenav {
  color: white;
}

.mat-toolbar {
  color: white;
}

.centering-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-map {
  display: flex;
  justify-content: center;
  align-items: center;
}
