<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Deadman's Cave
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-panel-description>
    Location: 12, 45
  </mat-panel-description>
  <mat-panel-description>
    Description: You will die here
  </mat-panel-description>
  <mat-action-row class="full-width">
    <button mat-raised-button color="warn" class="expand-button" (click)="openEditDialog()">Edit</button>
    <button mat-raised-button color="accent" class="expand-button">Delete</button>
  </mat-action-row>
</mat-expansion-panel>

